{% extends "base.html" %}
{% block title %} Clarity: For seekers {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <img src="https://clarity.ilovecornelltech.com/assets/logo.png" class="navbar-brand" href="#" style="width:100px"></img>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="nav-link" style="color: white"> For seekers </div>
          </li>
          <li class="nav-item">
            <div class="nav-link" style="color: white"> Logged in as: <div id="curr_user"></div> </div>
          </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <a href="/seeker/scan/" class="btn btn-outline-success my-2 my-sm-0"> Request new confirmation &raquo;</a>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron" id="main">
        <h2>Pending Confirmations</h2>
        {% for pending in pendings %}
          <div>Waiting on {{pending.verifiee.name}}</div>
        {% endfor %}
        <br>
        <h2>Finished Confirmations</h2>
        <div id="finished-confs"></div>
        {% for complete in completes %}
          <div style="padding-bottom: 10px"><button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#{{complete.pk}}-Modal" role="button">{{complete.verifier.name}} approved {{complete.get_verification_type_display}}</button></div>
        {% endfor %}
      </div>
    </main>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Request new Confirmation</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form method = "post" style="padding-left: 24px; padding-right: 24px; padding-top: 10px">
              {% csrf_token %}
              {{ form.as_p }}
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-primary" value="Go!"> 
		      </div>
		   </form>
	    </div>
	  </div>
	</div>


  <div class="modal fade" id="data-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contract Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="data-container" class="container"></div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrascripts %}
    <script>

      function data_trig(addr){
        data = $.get("/verifier/expose?"+"addr="+addr).done(function(){
          console.log(data);
          $("#data-container").text(data["responseJSON"]["data"]);
        })
      }
      window.addEventListener("load", function() {
        // Checking if Web3 has been injected by the browser (Mist/MetaMask)
        if (typeof web3 !== "undefined") {
          // Use Mist/MetaMask's provider
          window.web3 = new Web3(web3.currentProvider);
        } else {
          console.log("No web3? You should consider trying MetaMask!");
          // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
          window.web3 = new Web3(
            new Web3.providers.HttpProvider("https://localhost:8545")
          );
        }
       web3.eth.getAccounts(function(error, accounts) {
          var user_info_request = $.post("/seeker/get_from_addr/", {addr:accounts[0]}).done(function(){
            var user_info = user_info_request["responseJSON"];
            if(user_info==null){
              $("#main").text("");
              alert("No account registered as seeker with that address! Are you sure your metamask is signed in to the right wallet?");
            };
            $("#curr_user").text(user_info["name"]);
            $("#id_verifiee").val(user_info["uuid"]);
            // $("#id_verifiee").prop("disabled", true);
            $("#id_verifiee option[value="+user_info["uuid"]+"]").attr('selected', 'selected');
            // $("id_verifee option[value='']").removeAttr('selected');
            // $("#id_verifiee").change();
          });
          var eth_scan = $.get("http://api-kovan.etherscan.io/api?module=account&action=txlist&address=" + accounts[0]+ "&startblock=0&endblock=99999999&sort=desc&apikey=UMQEFCHCW7BSWY62U596G5ZYX2CZHF5SKN/").done(function(){
            resp = eth_scan["responseJSON"]["result"];
            let MyContract = web3.eth.contract(contract_abi);
            web3.eth.defaultAccount = web3.eth.accounts[0];
            MyContract.defaultAccount = web3.eth.accounts[0];
            for(var i=0; i < resp.length; i++){
              // var contractInstance = MyContract.at(resp[i]["to"]);
              $("#finished-confs").append("<div style='padding-top:10px'><button onclick='data_trig(\""+resp[i]["to"].toString(16)+"\")' class='btn btn-outline-success my-2 my-sm-0' data-toggle='modal' data-target='#data-modal' role='button'>"+resp[i]["to"]+"</button></div>");
              // contractInstance.check_access(accounts[0], function(error, data){
              //   console.log(data);
              // });


            }
          })
        });

        // APP >

        web3.eth.getAccounts(function(error, accounts) {
          if (!error) {
            web3.eth.getBalance(accounts[0], function(error, balance) {
              $("#curr_wall").text(accounts[0]);
            });
          } else {
            console.error(error);
          }
        });
      });
    </script>
  <script src="/static/qrcode.min.js"></script>
  <script>
    {% for complete in completes %}
      new QRCode(document.getElementById("qr-code-{{complete.uuid}}"), "{{complete.address}}");
    {% endfor %}
  </script>

{% endblock %}