{% extends "base.html" %}
{% block title %} Clarity: For Verifiers {% endblock %}
{% block content %}

    <nav class="navbar navbar-expand-md  mb-4">
      <img src="https://clarity.ilovecornelltech.com/assets/logo.png" class="navbar-brand" href="#" style="width:100px"></img>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="nav-link"> <h4> For Verifiers </h4> </div>
          </li>
          <li class="nav-item">
            <div class="nav-link"> Logged in as: <div id="curr_user"></div> </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron" id="main">
        <h2>Ties to approve</h2>
        {% for pending in pendings %}
          <div style="padding-bottom: 10px"><button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#{{pending.pk}}-Modal" role="button">{{pending.verifiee.name}} wants to tie {{pending.get_verification_type_display}}</button></div>
        {% endfor %}
        <br>
        <h2>Completed Proofs</h2>
        {% for complete in completes %}
          <div style="padding-bottom: 10px"><button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#{{complete.pk}}-Modal" role="button">{{complete.verifiee.name}} proved {{complete.get_verification_type_display}}</button></div>
        {% endfor %}
      </div>
    </main>

{% for form in forms %}
	<div class="modal fade" id="{{form.0.uuid}}-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Request new tie</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form method = "post" style="padding-left: 24px; padding-right: 24px; padding-top: 10px">
              {% csrf_token %}
              {{ form.1.as_p }}
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/verifier/deny?id={{form.0.uuid}}" type="button" class="btn btn-danger">Deny</a> 
            <button type="button" class="btn btn-primary" onclick="create_contract('{{form.0.verifiee.uuid}}', '{{form.0.uuid}}')">Accept</button> 
		      </div>
		   </form>
	    </div>
	  </div>
	</div>
{% endfor %}
{% endblock %}

{% block extrascripts %}
    <script>
      window.addEventListener("load", function() {
        // Checking if Web3 has been injected by the browser (Mist/MetaMask)
        if (typeof web3 !== "undefined") {
          // Use Mist/MetaMask's provider
          window.web3 = new Web3(web3.currentProvider);
        } else {
          console.log("No web3? You should consider trying MetaMask!");
          // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
          window.web3 = new Web3(
            new Web3.providers.HttpProvider("http://localhost:7545")
          );
        }
       web3.eth.getAccounts(function(error, accounts) {
          var user_info_request = $.post("/verifier/get_from_addr/", {addr:accounts[0]}).done(function(){
            var user_info = user_info_request["responseJSON"];
            console.log(user_info);
            if(user_info==null){
              $("#main").text("");
              alert("No account registered as verifier with that address! Are you sure your metamask is signed in to the right wallet?");
            };
            $("#curr_user").text(user_info["name"]);
            // $("#id_verifiee").val(user_info["uuid"]);
            // $("#id_verifiee").prop("disabled", true);
            // $("#id_verifiee option[value="+user_info["uuid"]+"]").attr('selected', 'selected');
            // $("id_verifee option[value='']").removeAttr('selected');
            // $("#id_verifiee").change();
          })
          // var test_contract = new web3.eth.Contract(, {from:accounts[0], gasPrice:10000000000, gasLimit:1000000000000, data:contract_bytecode["object"]});
          // test_contract.deploy()
        })


        // APP >
        web3.eth.getAccounts(function(error, accounts) {
          if (!error) {
            web3.eth.getBalance(accounts[0], function(error, balance) {
              $("#curr_wall").text(accounts[0])

            });
          } else {
            console.error(error);
          }
        });
      });
      var saved_var = "";
      function create_contract(user, uuid){
        web3.eth.getAccounts(function(error, accounts) {
          var user_info_request = $.post("/verifiee/get_from_uuid/", {uuid:user}).done(function(){
            var user_info = user_info_request["responseJSON"]["addr"];
            let MyContract = web3.eth.contract(contract_abi);
            console.log(user_info);
            var myContractReturned = MyContract.new("test", user_info, "test2", {
              from:accounts[0],
              data:contract_bytecode["object"],
              gas:8000000}, function(err, myContract){
               if(!err) {
                  // NOTE: The callback will fire twice!
                  // Once the contract has the transactionHash property set and once its deployed on an address.
                   // e.g. check tx hash on the first call (transaction send)
                   window.onbeforeunload = function (e) {
                    return 'Are you sure?';
                  };
                  if(!myContract.address) {
                      console.log(myContract.transactionHash) // The hash of the transaction, which deploys the contract
                      $('.modal').modal('hide');
                      alert("Contract created! Webpage will reload automatically on completion.");
                  
                  // check address on the second call (contract deployed)
                  } else {
                      var fin_addr = myContract.address; // the contract address
                      window.onbeforeunload = function () {
                        // blank function do nothing
                      }
                      window.location="/verifier/accept?id="+uuid+"&address="+fin_addr;
                  }
                   // Note that the returned "myContractReturned" === "myContract",
                  // so the returned "myContractReturned" object will also get the address set.
               }
             });
            saved_var = myContractReturned;
          });
          });
       }
    </script>
{% endblock %}