{% extends "base.html" %}
{% block title %} Clarity: For users {% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md  mb-4">
      <img src="https://clarity.ilovecornelltech.com/assets/logo.png" class="navbar-brand" href="#" style="width:100px"></img>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="nav-link"> For users </div>
          </li>
          <li class="nav-item">
            <div class="nav-link"> Logged in as: <div id="curr_user"></div> </div>
          </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
          <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" role="button"> Request new tie &raquo;</button>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron" id="main">
        <h2> Pending Requests </h2>
        <div id="pending-reqs"></div>
        <h2>Pending ties</h2>
        {% for pending in pendings %}
          <div>Your {{pending.get_verification_type_display}} is being tied to {{pending.verifier.name}}</div>
        {% endfor %}
        <br>
        <h2>Available Proofs</h2>
        {% for complete in completes %}
          <div style="padding-bottom: 10px"><button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#{{complete.pk}}-Modal" role="button">{{complete.verifier.name}} approved {{complete.get_verification_type_display}}</button></div>
        {% endfor %}
      </div>
    </main>


	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Request new tie</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <form method = "post" style="padding-left: 24px; padding-right: 24px; padding-top: 10px">
              {% csrf_token %}
              {{ form.as_p }}
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-primary" value="Go!"> 
		      </div>
		   </form>
	    </div>
	  </div>
	</div>


  {% for complete in completes %}
    <div class="modal fade" id="{{complete.pk}}-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Associated Contract Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
          <div id="qr-code-{{complete.uuid}}" style="margin-left: auto; margin-right: auto; padding-top: 10px"></div>
          <div style="text-align: center"> {{complete.address}}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block extrascripts %}
    <script>
      window.addEventListener("load", function() {
        // Checking if Web3 has been injected by the browser (Mist/MetaMask)
        if (typeof web3 !== "undefined") {
          // Use Mist/MetaMask's provider
          window.web3 = new Web3(web3.currentProvider);
        } else {
          console.log("No web3? You should consider trying MetaMask!");
          // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
          window.web3 = new Web3(
            new Web3.providers.HttpProvider("https://localhost:8545")
          );
        }
       web3.eth.getAccounts(function(error, accounts) {
          var user_info_request = $.post("/verifiee/get_from_addr/", {addr:accounts[0]}).done(function(){
            var user_info = user_info_request["responseJSON"];
            if(user_info==null){
              $("#main").text("");
              alert("No account registered as verifier with that address! Are you sure your metamask is signed in to the right wallet?");
            };
            $("#curr_user").text(user_info["name"]);
            $("#id_verifiee").val(user_info["uuid"]);
            // $("#id_verifiee").prop("disabled", true);
            $("#id_verifiee option[value="+user_info["uuid"]+"]").attr('selected', 'selected');
            // $("id_verifee option[value='']").removeAttr('selected');
            // $("#id_verifiee").change();
          })
          
        })

        // APP >

        web3.eth.getAccounts(function(error, accounts) {
          if (!error) {
            web3.eth.getBalance(accounts[0], function(error, balance) {
              $("#curr_wall").text(accounts[0]);
            });
          } else {
            console.error(error);
          }
        });
      });
    </script>
  <script src="/static/qrcode.min.js"></script>
  <script>
    let MyContract = web3.eth.contract(contract_abi);
    web3.eth.defaultAccount = web3.eth.accounts[0];
    MyContract.defaultAccount = web3.eth.accounts[0];


    function approve(seeker_addr, contract_addr){
      var contractInstance = MyContract.at(contract_addr);
      addr = "0x" + seeker_addr;
      console.log(addr);
      contractInstance.grant_access(addr, function(err, data){
        console.log("Done!");
      });
    }
    {% for complete in completes %}
      new QRCode(document.getElementById("qr-code-{{complete.uuid}}"), "{{complete.address}}");
    {% endfor %}

    {% for all in alls %}
      if("{{all.address}}" != "YOOOO"){
        // console.log("{{all.address}}");
        var contractInstance = MyContract.at("{{all.address}}");
        contractInstance.getpending(function(err, data){
          if(data){
            for(var i=0; i < data.length; i++){
              var user_info_request = $.post("/seeker/get_from_addr/", {addr:data[i]}).done(function(){
                var user_info = user_info_request["responseJSON"]["name"];
                var user_uuid = user_info_request["responseJSON"]["addr"];
                $("#pending-reqs").append(user_info + " is requesting your " + "{{all.get_verification_type_display}}, <button class='btn btn-outline-success my-2 my-sm-0' onclick=\"approve(\'"+user_uuid+"\', \'{{all.address}}\')\"> Approve </button> or <button class='btn btn-outline-danger my-2 my-sm-0'> Dissapprove </button> ");
              });
            }
          }
        })
      }
      // contractInstance.request_access(function(err, data){console.log(data); console.log(err)})
    {% endfor %}
  </script>
{% endblock %}